{% extends 'base.html' %}

{% block footer %}{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign out</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      You have been successfully signed out.
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <div class="flex items-center justify-center">
        <a href="{% url 'users:login' %}" class="flex w-full justify-center rounded-md border border-transparent bg-african-orange py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Sign in again</a>
      </div>
      <div class="mt-4 flex items-center justify-center">
        <a href="{% url 'core:index' %}" class="text-sm font-medium text-african-green hover:text-green-500">Return to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
